{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
  the {body} of the default.hbs template, which contains our header/footer. }}
<div class=" mobile-margin col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <main id="home" class="main" role="main">

  <div class="section articles row ">

    <div class="col-lg-12 col-sm-12 col-xs-12">
    {{#foreach posts limit="7" columns="2"}}
              {{#if @first}}
                  <div class="container featured">
                      <div class="row featured-row">

                          <article class=" {{post_class}} mainImg col-lg-8 col-md-8 col-sm-12 col-xs-12"  >
                              <header>
                                  <div class="row">
                                  {{#if image}}
                                      <a href="{{url}}" class="thumb hover-effect">
                                          <div class="col-lg-12 col-md-12 col-sm-12 featured-img-size"
                                               style="background:url({{image}}); background-size:cover; background-repeat: no-repeat; position:static;">
                                              <div style="position: relative; top: 80%;">
                                                  <span id="overlay_text" class="" style="position: relative; top: 220px;right:600px; z-index: 3;">
                                                      <h1 class="title" style="line-height:36px;"><a href="{{url}}"  style="color:#fff; ">{{{title}}}</a></h1>
                                                  </span>
                                              </div>
                                          </div>
                                      </a>
                                  {{else}}
                                      {{content words="0"}}
                                  {{/if}}
                                  </div>
                              </header>
                          </article>

                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sign-up-size" style="background-color:#a6499b;background-size:cover;">

                              <div id="subscribe" class=" " >
                                  {{#if @labs.subscribers}}
                                      <div class="gh-subscribe">
                                          <h2 class="gh-subscribe-title" style="color: #FFF;margin-bottom: 30px;font-size: 38px; font-family:Playfair Display;"> Join our Family</h2>
                                          <p id="sub_share">Share Your Photos, Videos, and Stories with Millions of People From Planet Earth</p>
                                          {{> signup }}
                                      </div>
                                  {{/if}}
                              </div>

                          </div>
                        </div>
                <div class="clear"></div>
          </div>
    </div>
        <div class="container">


          <div class="  col-md-8" style="margin-top: 50px;">
              {{else}}
        <article class=" {{post_class}}  {{#if @rowStart}} col-md-6 col-sm-6 col-xs-12{{/if}} {{#if @rowEnd}} col-md-6 col-sm-6 col-xs-12{{/if}}" style="height:auto;">
          <header>
            {{#if image}}
              <a href="{{url}}" class="thumb hover-effect">
                <img src="{{image}}" style="">
              </a>
            {{else}}
              {{content words="0"}}
            {{/if}}
            <div class="meta">
              <div class="alignleft">

                <h2 class="title" ><a href="{{url}}">{{title}}</a></h2>
                <i class="fa fa-circle circle"></i>
                  <span class="author">  Heart Centered Rebalancing</span>
                <time datetime="{{date format="YYYY-MM-DD"}}"><i class="fa fa-clock-o"></i>{{date published_at timeago="true"}}</time>
              </div>
              <div class="clear"></div>
            </div>
          </header>
        <div class="post-excerpt" style="line-height:22px; color:#282828; font-weight:500;">
            {{excerpt words="20"}}...
          <a href="{{url}}" class="continue_reading" style="opactiy: .5;">Continue Reading</a>
            <i class="fa fa-angle-double-right"></i>
            <div class="clear"></div>
          </div>
            {{/if}}
        </article>

      {{else}}

        {{> default-article}}


    {{/foreach}}
          </div>
          <div class="col-md-4">
              <div class="ad-wrapper visible-lg visible-md hidden-xs" style="margin-top: 40px;">
                  <div id="ad_4" class="">
                      <a href="" class="ads" target="_blank">
                        <div id='12345678-20'>
                        <script type='text/javascript'>
                        googletag.cmd.push(function() { googletag.display('12345678-20'); });
                        </script>
                        </div></a>
                  </div>
              </div>
          </div>
      </div>
    </div>




<!-- end: .center -->


</main>
</div>
