<header id="header" style="width:100%;">
	<!-- start: .top -->
		<div class="container">
			<div class="row visible-lg visible-md hidden-sm hidden-xs" style="text-align:center;">
				<!--TBN ATF 728x90 pos 1 STARTS-->
					<div id="tbn-06d5b3ee-3115-9e20-d7cf-5a856b91122e" style="margin-bottom:5px;">
					     <script type="text/javascript">window.$tbn = window.$tbn || {"d":function(){}}; $tbn.d("06d5b3ee-3115-9e20-d7cf-5a856b91122e");</script>
					</div>
				<!--TBN ATF 728x90 pos 1 ENDS-->
			</div>
		</div>
	<!-- start: .menu-wrapper -->
  <div class="nav-wrap">
							<div>
								<nav>
									<div id="bs-example-navbar-collapse-1" >
									  <div class="nav navbar-nav" style="width:100%; margin:0; border-bottom:1px solid #ccc;">

													<div class="col-lg-5 col-md-6 col-sm-4 col-xs-4">
															<div class="mobile-logo_2 container col-lg-2 col-md-3 col-sm-12 col-xs-12">
																<a href="{{@blog.url}}">
																	<img src="{{asset "images/hcrlogo-mobile-1.png"}}"  alt="Heart Centered Rebalancing" /></a>
															</div>
															<div class="mobile-logo-words no-padding-left col-lg-5 col-md-7 hidden-sm hidden-xs">
																<a href="{{@blog.url}}">
																	<img src="{{asset "images/hcrlogo-mobile-words.png"}}"  alt="Heart Centered Rebalancing" /></a>
															</div>
															<!-- <a href="http://http://heartcenteredrebalancing.com/trending"><div class="trending container col-xs-3 hidden-lg hidden-md hidden-sm hidden-xs nav navbar-nav pull-right " style="padding:0px;margin:0px;">
																<li >Trending</li>
															</div></a> -->
													</div>

													<div id="info_nav_Wrap_1" class=" col-lg-7 col-sm-7 col-xs-7">
									 					<div class="info col-lg-3 col-sm-8 col-xs-8">
																<li class="nav-dropdown">
																	<a href="javascript:return false;" class="dropdown-toggle " role="button" aria-haspopup="true" aria-expanded="false">
																		<div class="bars col-lg-4 col-xs-1"><i class="fa fa-bars"></i></div>
																		<span>Menu</span>
																	</a>
																		{{navigation}}
																</li>
														</div>
											      <!-- <div id="info_nav_Wrap" class="col-lg-1 col-md-1 col-sm-2 col-xs-2" style="display:inline-flex;margin-top:15px;padding:0 1px"> -->
														 <div class="info col-lg-5 col-sm-1 col-xs-1">
																	<li class="nav-dropdown">
																		<a href="javascript:return false;" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
																				<i class="fa fa-info-circle"></i>
																		</a>
																		<ul class="dropdown-menu pull-right">
																			<li ><a href="http://heartcenteredrebalancing.com/about-us"><div class="nav-extra-padding">About Us</div></a></li>
																			<li ><a href="http://heartcenteredrebalancing.com/contact-us/"><div class="nav-extra-padding">Contact Us</div></a></li>
																			<li ><a href="http://heartcenteredrebalancing.com/advertising-commitment/"><div class="nav-extra-padding">Advertising Commitment</div></a></li>
																			<li ><a href="http://heartcenteredrebalancing.com/privacy-policy/"><div class="nav-extra-padding">Privacy Policy</div></a></li>
																			<li ><a href="http://heartcenteredrebalancing.com/dmca-removal/"><div class="nav-extra-padding">DMCA / Removal</div></a></li>
																			<li ><a href="http://heartcenteredrebalancing.com/terms-of-service"><div class="nav-extra-padding">Terms of Service</div></a></li>
																			<li ><a href="http://heartcenteredrebalancing.com/disclaimer/"><div class="nav-extra-padding">Disclaimer</div></a></li>
																			<li ><a href="http://heartcenteredrebalancing.com/user-agreement/"><div class="nav-extra-padding">User Agreement</div></a></li>
																			<li ><a href="http://heartcenteredrebalancing.com/why-cookies/"><div class="nav-extra-padding">We Use Cookies</div></a></li>
																				</ul>
																	</li>
														 </div>
														 <div class="info navbar-search col-lg-4 col-sm-6 col-xs-1">
																 <!-- <a href="#" id="searchtoggl" class="searchtoggl"><i class="navbar-search fa fa-search" aria-hidden="true"></i></a> -->
																 <form class="" action="/search" method="get">
													 				<input type="text" name="q" value="{{query}}" placeholder="What're we looking for ?" >
													 			</form>

																<label >
																       <i class="navbar-search fa fa-search" aria-hidden="true"></i>
																</label>
															</div>
														</div><!-- /.navbar-collapse -->
		<!-- start scroll-nav -->
		<span class="overlay" style="position:absolute;">
		  <div class="container-fluid scroll-nav"style="visibility:hidden;background-color:#fff; margin-bottom:50px;z-index:9999;">
				<nav class=" new_nav_scroll navbar-default navbar-fixed-top">
						<!-- Collect the nav links, forms, and other content for toggling -->
					<div id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav" style="width:100%; margin:0;">
					    <div class="row" style="border-bottom:1px solid #ccc;background-color:#fff;">
								<div class="container">

									<div id="info_nav_Wrap_1" class=" col-lg-10 col-sm-4 col-xs-12">
					 					<div class="info col-lg-4 col-sm-6 col-xs-3">
												<li class="nav-dropdown">
													<a href="javascript:return false;" class="dropdown-toggle "  role="button" aria-haspopup="true" aria-expanded="false">
														<div class="bars col-lg-1 col-xs-1"><i class="fa fa-bars"></i></div>
														<!-- <div class="col-lg-2 hidden-sm hidden-xs"><p>Menu</p></div> -->
													</a>
														{{navigation}}
												</li>
										</div>
						      <!-- </div> -->
										<div class="share_wrap">
							     		<div id="addThis_scroll"class="addthis_sharing_toolbox" ></div>
										</div>
										<!-- <div id="info_nav_Wrap" class="col-lg-1 col-md-1 col-sm-2 col-xs-2" style="display:inline-flex;margin-top:15px;padding:0 1px"> -->
										 <div class="info col-lg-4 col-sm-6 col-xs-3">
													<li class="nav-dropdown">
														<a href="javascript:return false;" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
																<i class="fa fa-info-circle"></i>
														</a>
														<ul class="dropdown-menu pull-right">
															<li ><a href="http://heartcenteredrebalancing.com/about-us"><div class="nav-extra-padding">About Us</div></a></li>
															<li ><a href="http://heartcenteredrebalancing.com/contact-us/"><div class="nav-extra-padding">Contact Us</div></a></li>
															<li ><a href="http://heartcenteredrebalancing.com/advertising-commitment/"><div class="nav-extra-padding">Advertising Commitment</div></a></li>
															<li ><a href="http://heartcenteredrebalancing.com/privacy-policy/"><div class="nav-extra-padding">Privacy Policy</div></a></li>
															<li ><a href="http://heartcenteredrebalancing.com/dmca-removal/"><div class="nav-extra-padding">DMCA / Removal</div></a></li>
															<li ><a href="http://heartcenteredrebalancing.com/terms-of-service"><div class="nav-extra-padding">Terms of Service</div></a></li>
															<li ><a href="http://heartcenteredrebalancing.com/disclaimer/"><div class="nav-extra-padding">Disclaimer</div></a></li>
															<li ><a href="http://heartcenteredrebalancing.com/user-agreement/"><div class="nav-extra-padding">User Agreement</div></a></li>
															<li ><a href="http://heartcenteredrebalancing.com/why-cookies/"><div class="nav-extra-padding">We Use Cookies</div></a></li>
																</ul>
													</li>
										 </div>
									</div>

									<div class="trending col-lg-2 col-sm-6 col-xs-1" style="padding-right:60px;">
											 <li class="nav-dropdown">
												<a href="javascript:return false;" class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-line-chart"></i>
												</a>
												<ul class="dropdown-menu">
													 <li ><div class="nav-extra-padding"><a href="http://heartcenteredrebalancing.com/trending">Trending</a></div></li>
												</ul>
											 </li>
									</div>
								</div>
					    </div>
					  </ul>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
		</span>
	</div><!-- end: .main-nav -->
</header>
<!-- end: #header -->
