<!-- start: #header -->

<header id="header" style="width:100%;">


	<!-- start: .top -->

		<div class="container-fluid">
			<div class="row visible-lg visible-md hidden-sm hidden-xs">

				<script type='text/javascript'>
				 var ADM_PL = {tp:'sp', wId:2800100, pId:70998379, rank:1, width:728, height:90, pbId:371, clk:'[External click-tracking goes here (NOT URL-encoded)]'};
				</script>
				<script type='text/javascript' src='//s.atemda.com/Admeta.js'></script>
				<noscript>
				 <iframe src='//p371.atemda.com/nojsadserving.ashx?wId=2800100&pId=70998379&rank=1&clk=[URL-encoded external clicktracking link goes here]' width='728' height='90' frameborder='0' marginheight='0' marginwidth='0' scrolling='no'></iframe>
				</noscript>
				<!--  Ad code for top banner should go here -->
					<!--<div id="ad_1" class=" col-lg-7 col-lg-offset-2 col-md-6 col-sm-7" style="padding-left:50px;">
						<img src="{{asset "images/ad_banner728x90.jpg"}}" />
					</div> -->
			</div>
		</div>
	<!-- start: .menu-wrapper -->
  <div class="nav-wrap">
		<div  class=" post-nav">
		  <nav class=" new_nav navbar-default navbar-static-top">
        <div class="">
          <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="width:100%;">

										<div class="col-lg-3 col-sm-4 col-xs-9"style="padding-left:0;padding-right:0;margin-left:6%;">
					            <div class="mobile-logo_2 container col-lg-3 col-sm-4 col-xs-3 " style="z-index:1;padding-right:0;padding-left:0;">
					              <a href="{{@blog.url}}">
					                <img src="{{asset "images/hcrlogo-mobile-1.png"}}"  alt="Heart Centered Rebalancing" /></a>
					            </div>
					          	<div class="mobile-logo-words  col-lg-1 col-sm-7 col-xs-9 " style="padding-top:20px;padding-left:10px;">
					    					<a href="{{@blog.url}}">
					    						<img src="{{asset "images/hcrlogo-mobile-words.png"}}"  alt="Heart Centered Rebalancing" /></a>
					    				</div>
											<div class="trending container col-xs-3 hidden-lg hidden-md hidden-sm hidden-xs nav navbar-nav pull-right " style="padding:0px;margin:0px;">
						            <li ><a href="#">Trending</a></li>
						          </div>
									</div>
                		<div id="info_nav_Wrap_1" class="  container col-sm-2 col-xs-2" style="display:inline-flex;margin-top:25px;z-index:10;padding-right:0;">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                   				<li class="nav-dropdown " style="border:1px solid black;">
														<img src="{{asset "images/info.png"}}" alt="" />

														<!--<div class="info-circle">
                        	<i class="fa fa-info" style="position:relative;"></i>
                      </div> -->
                	   </a>
                  <ul class="nav-dropdown-menu dropdown-menu">
                    <li class="extra-padding"><a href="http://dev.groupxondemand.com/about-us">About Us</a></li>
                    <li class="extra-padding"><a href="http://dev.groupxondemand.com/contact-us/">Contact Us</a></li>
                    <li class="extra-padding"><a href="http://dev.groupxondemand.com/advertising-commitment/">Advertising Commitment</a></li>
                    <li class="extra-padding"><a href="http://dev.groupxondemand.com/privacy-policy/">Privacy Policy</a></li>
                    <li class="extra-padding"><a href="http://dev.groupxondemand.com/dmca-removal/">DMCA / Removal</a></li>
                    <li class="extra-padding"><a href="http://dev.groupxondemand.com/privacy-policy/">Privacy Policy</a></li>
                    <li class="extra-padding"><a href="http://dev.groupxondemand.com/terms-of-service">Terms of Service</a></li>
                    <li class="extra-padding"><a href="http://dev.groupxondemand.com/disclaimer/">Disclaimer</a></li>
                    <li class="extra-padding"><a href="http://dev.groupxondemand.com/user-agreement/">User Agreement</a></li>
                    <li class="extra-padding"><a href="http://dev.groupxondemand.com/why-cookies/">We Use Cookies</a></li>

                  </ul>
                </li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <li class="nav-dropdown" style="border:1px solid black; ;padding-top:5px;">
                    <div style="display:inline-flex;padding-left:5px;padding-right:5px">
											<i class="fa fa-bars" style="position:relative;"></i>
											<span class="hidden-sm hidden-xs" style="padding-left:5px;padding-right:5px;">Menu</span>
                    	</div>
                  <ul class="nav-dropdown-menu dropdown-menu">
                  {{navigation}}
                  </ul>
                </li>
							</a>
            </div>


    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</div>
<!-- start scroll-nav -->
<span class="overlay " style="position:absoulte;">
  <div  class="container-fluid scroll-nav "style="visibility:hidden;background-color:#fff; margin-bottom:50px;" >
		<nav class=" new_nav_scroll navbar-default ">

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav" style="width:100%; margin:0;">
    <div class="row" style="border-bottom:1px solid black;background-color:#fff;">
      <div id="info_nav_Wrap" class="col-lg-1 col-md-1 col-sm-2 col-xs-2" style="display:inline-flex;margin-top:15px;padding:0 1px">
        <li class="nav-dropdown  " style="border:1px solid black; padding:2px;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <div class="info-circle">
              <i class="fa fa-info" style="position:relative;bottom:2px;top:0px;"></i>
            </div>
          </a>
          <ul class="nav-dropdown-menu dropdown-menu">
            <li class="extra-padding"><a href="http://dev.groupxondemand.com/about-us">About Us</a></li>
            <li class="extra-padding"><a href="http://dev.groupxondemand.com/contact-us/">Contact Us</a></li>
            <li class="extra-padding"><a href="http://dev.groupxondemand.com/advertising-commitment/">Advertising Commitment</a></li>
            <li class="extra-padding"><a href="http://dev.groupxondemand.com/privacy-policy/">Privacy Policy</a></li>
            <li class="extra-padding"><a href="http://dev.groupxondemand.com/dmca-removal/">DMCA / Removal</a></li>
            <li class="extra-padding"><a href="http://dev.groupxondemand.com/privacy-policy/">Privacy Policy</a></li>
            <li class="extra-padding"><a href="http://dev.groupxondemand.com/terms-of-service">Terms of Service</a></li>
            <li class="extra-padding"><a href="http://dev.groupxondemand.com/disclaimer/">Disclaimer</a></li>
            <li class="extra-padding"><a href="http://dev.groupxondemand.com/user-agreement/">User Agreement</a></li>
            <li class="extra-padding"><a href="http://dev.groupxondemand.com/why-cookies/">We Use Cookies</a></li>
          </ul>
        </li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <li class="nav-dropdown " style="border:1px solid black;padding:5px;">
            <i class="fa fa-bars" style="position:relative;"></i>
          <ul class="nav-dropdown-menu dropdown-menu">
            {{navigation}}
          </ul>
        </li>
			</a>
      </div>
			<div class="share_wrap">

      <div id="addThis_scroll"class="addthis_sharing_toolbox  " data-url={{url}} data-title="{{title}}" data-description="{{meta_description}}"></div>

		</div>

          <div class="trending col-lg-1 col-md-1 col-xs-3 nav navbar-nav  " style="padding: 21px 0px 20px 0px;margin: 0;float: right;">
          	<a href="#" style="color:black;padding:0;"> <strong>Trending </strong></a>
          </div>

        </div>
      </ul>


    </div><!-- /.navbar-collapse -->


</nav>


</div>
</span>
</div>
<!-- end: .main-nav -->

</div>
		<!-- end: .scroll-nav -->




	<!-- end: .menu-wrapper -->


</header>
<!-- end: #header -->
