{{#get "posts"  filter="id:-{{post.id}}" limit=4}}
{{#foreach posts }}

<!-- start: .meta -->
<div class="meta col-lg-12 col-md-12 col-xs-12">
  <a href="{{url}}" class="local">
  <h1 class="title" id="post_title" style="font-family:Playfair Display;">{{title}}</h1>
  </a>
  <div class="fb-like" data-href="https://www.facebook.com/HeartCenteredRebalancing" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
      <div class="row">
              {{#if tags}}
            <div class="tags">
                  {{tags separator=""}}
            </div>
              {{/if}}
            <time datetime="{{date format="YYYY-MM-DD"}}"><i class="fa fa-clock-o"></i> {{date}}</time>
      </div>
  </div>
  <div class="clear">
</div>
  {{#if image}}
      {{^has tag="no cover"}}
              <div class="main-image cover">
                <img src="{{image}}"  style="width:100%" height="400"  alt="" />
                  <div class="center grid-container">
                      <div class="boxed cover" style="background: url({{image}});"></div>
                      <div class="boxed overlay"></div>
                  </div>
              </div>
          {{/has}}
  {{/if}}
  <div class="clear"></div>
    <!-- start: .center -->
  <div class="center content section grid-container {{#has tag="no cover"}}no-cover{{/has}}">

      <!-- start: .content -->
      <div class="row">
        <article class="{{post_class}}">
          {{#has tag="no cover"}}
            <header>
                <!-- start: .meta -->
                <div class="meta" style="margin-top:50px;">
                  {{#if tags}}
                    <div class="tags">
                      {{tags separator=""}}
                    </div>
                  {{/if}}
                  <time datetime="{{date format="YYYY-MM-DD"}}"><i class="fa fa-clock-o"></i> {{date}}</time>
                </div>
                <!-- end: .meta -->
                <div class="clear"></div>
                <h2 class="title">{{title}}</h2>
                <div class="post-format">
                  {{#if image}}
                    <div class="main-image"><img src="{{image}}"></div>
                  {{/if}}
                </div>

            </header>
          {{/has}}
          <section class="post-content col-lg-12 col-md-8 col-sm-8 col-xs-12">
            <div class=" post_subscribe_form col-lg-7 col-md-6 col-sm-10">
                {{subscribe_form placeholder="Your Email Here"}}
              </div>
              <script type='text/javascript'>
               var ADM_PL = {tp:'sp', wId:2800100, pId:70998377, rank:1, width:300, height:250, pbId:371, clk:'[External click-tracking goes here (NOT URL-encoded)]'};
              </script>
              <script type='text/javascript' src='//s.atemda.com/Admeta.js'></script>
              <noscript>
               <iframe src='//p371.atemda.com/nojsadserving.ashx?wId=2800100&pId=70998377&rank=1&clk=[URL-encoded external clicktracking link goes here]' width='300' height='250' frameborder='0' marginheight='0' marginwidth='0' scrolling='no'></iframe>
              </noscript>
            <!--<div class="row">
              <div class="addthis_sharing_toolbox col-lg-5 " addthis:url="{{url}}" addthis:title="{{title}}" addthis:description="{{meta_description}}" data-url={{url}} data-title="{{title}}" data-description="{{meta_description}}"style="float:right;"></div>
            </div>-->
{{#if error}}
  <p class="main-error">{{{error.message}}}</p>
{{/if}}
              <div class="row fade-out">
                  <div class="text">{{content}}</div>
                    <p class="read-more"><a class="btn" href="{{url}}">Read More</a></p>
              </div>
              <script type='text/javascript'>
               var ADM_PL = {tp:'sp', wId:2800100, pId:70998377, rank:1, width:300, height:250, pbId:371, clk:'[External click-tracking goes here (NOT URL-encoded)]'};
              </script>
              <script type='text/javascript' src='//s.atemda.com/Admeta.js'></script>
              <noscript>
               <iframe src='//p371.atemda.com/nojsadserving.ashx?wId=2800100&pId=70998377&rank=1&clk=[URL-encoded external clicktracking link goes here]' width='300' height='250' frameborder='0' marginheight='0' marginwidth='0' scrolling='no'></iframe>
              </noscript>
            </section>
        </article>
      </div>
      </div>
      <div class="clear"></div>


  <div class="clear"></div>
  {{/foreach}}
{{/get}}
